## 
# This file is a template of the sensitive configuration secrets header file. Never check sensitive data such as passwords in to version control or publish them.
#
# Copy this file to secrets.h and change the values defined below.

#define MY_WIFI_SSID "CHANGE_ME"
#define MY_WIFI_PASSWORD "CHANGE_ME"
